[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
minecraft = {editable = true,git = "https://github.com/Amund211/pyCraft",egg = "minecraft",ref = "stable"}
requests = "*"
toml = "*"

[requires]
python_version = "3.8"

[scripts]
fish = "python autofish.py"
